<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>To do List</title>
</head>
<body>
<h1><%= WhichDay %> List </h1>

<ul>
<% for(var i=0; i<newNotes.length; i++) { %>
	<li><%= newNotes[i] %> </li>
	<% } %>
</ul>

<form class="" action="/" method="post">
<input type="text" name="newNote">
<button type="submit" name="button">Add</buton>




</body>
</html> 